Repository dimaslanjaka/source-posts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint --fix"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.json": "prettier --write"
}

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/0e4aab47ceb13ddc2d5f79d169a96e0c6e64218c
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

add post
  2024/01/spring-boot-custom-passwordEncoder.md
Due: none

update frontmatter settings
  .frontmatter/database/pinnedItemsDb.json
  .frontmatter/database/taxonomyDb.json
  frontmatter.json
Due: prettier --write

add examples
  2024/01/spring-boot-custom-passwordEncoder.md
Due: none

add post
  2024/01/spring-boot-custom-passwordEncoder.md
  2024/01/spring-boot-login-programatically.md
Due: none

add thumbnail
  2024/01/spring-boot-login-programatically.md
Due: none

update ci
  .github/workflows/build-site-reusable.yml
Due: none

update ci
  .github/workflows/build-site-reusable.yml
  frontmatter.json
Due: prettier --write

add `@types/node-sass`
  package.json
  yarn.lock
Due: prettier --write

update ci
  .github/workflows/build-site-reusable.yml
  tsconfig.ci.json
  tsconfig.json
Due: prettier --write

chore: released from https://github.com/dimaslanjaka/source-posts/commit/600d69a16d853b951d710fcfa4d17d38aac8bfb6
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

fix invalid internal links
  2024/01/spring-boot-login-programatically.md
Due: none

link to github project
  2024/01/spring-boot-custom-passwordEncoder.md
  2024/01/spring-boot-login-programatically.md
Due: none

add missing step
  2024/01/spring-boot-login-programatically.md
Due: none

chore: released from https://github.com/dimaslanjaka/source-posts/commit/e8d003b9ddbe57ac867e4662e654dbc8c3b3aef9
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

update taxonomies
  2017/07/10-template-gratis-untuk-dokumentasi-api.md
Due: none

chore: released from https://github.com/dimaslanjaka/source-posts/commit/5d8b2ee20e4c70a93b92c0f0668b66d2c277fa4c
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

fix resolve js module in ESM
  .vscode/settings.json
Due: prettier --write

update dependencies
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

add free google translator
  src/test.js
  src/translatorAPI/index.js
  src/translatorAPI/languages.js
  src/translatorAPI/tokenGenerator.js
Due: prettier --write, eslint --fix

convert translator api to typescript
  src/translatorAPI/index.js
  src/translatorAPI/index.ts
  src/translatorAPI/languages.ts
  src/translatorAPI/test.ts
  src/translatorAPI/tokenGenerator.js
Due: prettier --write, eslint --fix

add post and update dependencies
  2024/01/deprecated-web-security-configurer-adapter-solution.md
  package.json
Due: prettier --write

add slug generator
  src/slugGenerator.ts
Due: prettier --write, eslint --fix

chore: released from https://github.com/dimaslanjaka/source-posts/commit/42af341cc20728d55b70c48f70d41d96b26dcbc6
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

update codeblock
  GitHub/git-detach-subfolder-to-their-own-repository.md
Due: none

fix hyperlink
  GitHub/git-detach-subfolder-to-their-own-repository.md
Due: none

chore: released from https://github.com/dimaslanjaka/source-posts/commit/367f1f76230196129d56ec1d12a0eb447e2e454c
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

Update git-detach-subfolder-to-their-own-repository.md
  GitHub/git-detach-subfolder-to-their-own-repository.md
Due: none

chore: released from https://github.com/dimaslanjaka/source-posts/commit/cb2941abdf16e800914cbbac3849f2499f8f58df
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/ef7f92703f85c218ba6ce6c82c399ce54bf0df72
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

chore: released from https://github.com/dimaslanjaka/source-posts/commit/956687c07f383ae9e5a74154bea3a75a3a67d70e
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

chore: released from https://github.com/dimaslanjaka/source-posts/commit/9329c64f4cdf38fc18a6dce1126a2089c2ff39e9
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

update taxonomies
  .frontmatter/database/taxonomyDb.json
  GitHub/actions-matrix-sequentally.md
  GitHub/default-username-and-email-github-actions.md
  GitHub/github-workflow-filter-jobs-by-os-en.md
  GitHub/github-workflow-filter-jobs-by-os-id.md
  GitHub/id-github-actions-run-single-instance.md
  GitHub/workflow-auto-clean-cache.md
  GitHub/workflows-caches.md
  GitHub/workflows-condition.md
  GitHub/workflows-events.md
  GitHub/workflows.md
Due: prettier --write
