Repository dimaslanjaka/source-posts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint --fix"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.json": "prettier --write"
}

update dependencies
  package.json
Due: prettier --write

supress node experimental warnings
  .vscode/settings.json
Due: prettier --write

add image broken finder
  package.json
  src/broken-images-finder.ts
  src/utils/promise.ts
Due: prettier --write, eslint --fix

split broken images finder to their own function
  src/broken-images-finder.ts
Due: prettier --write, eslint --fix

chore: released from https://github.com/dimaslanjaka/source-posts/commit/1e826141e5c97a3cf974b5d3f3a95e7752f4d8b1
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

save reports to file
  config.js
  source/.gitignore
  src/broken-images-finder.ts
Due: prettier --write, eslint --fix

report file in markdown
  src/broken-images-finder.ts
Due: prettier --write, eslint --fix

Create the-inferred-type-of-x-cannot-be-named-without-a-reference-to.md
  2024/02/the-inferred-type-of-x-cannot-be-named-without-a-reference-to.md
Due: none

Update the-inferred-type-of-x-cannot-be-named-without-a-reference-to.md
  2024/02/the-inferred-type-of-x-cannot-be-named-without-a-reference-to.md
Due: none

chore: released from https://github.com/dimaslanjaka/source-posts/commit/eee351b54312eb70be35d726aaed51a6bf9a38d9
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

feat: google image search
  package.json
  src/google-image-search.ts
  test/google-image-search.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: aliasing cheerio load
  src/google-image-search.ts
Due: prettier --write, eslint --fix

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/2bd030094128e56ea91676c64a1330f869121d2e
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

moved puppeteer utility
  src/github-issues.ts
  src/googleSearch.ts
  src/puppeteer/browse.ts
  src/puppeteer/puppeteerOpt.ts
  src/stackoverflow.ts
  src/translate.ts
Due: prettier --write, eslint --fix

check main module in ESM
  package.json
  src/globals.ts
  src/slugGenerator.ts
Due: prettier --write, eslint --fix

schedule post for 2024-03-17
  2024/02/detect-if-called-via-request-or-directly-by-command-line.md
Due: none

chore: released from https://github.com/dimaslanjaka/source-posts/commit/08f88ce72d8a522574755c2ece0dfba950d70d0e
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

moved browse function
  src/github-issues.ts
  src/puppeteer/getHtml.ts
  src/stackoverflow.ts
Due: prettier --write, eslint --fix

feat: scrolldown puppeteer helper
  src/puppeteer/scrollToBottom.ts
Due: prettier --write, eslint --fix

feat: puppeteer with proxy
  test/puppeteer/google-image-search.ts
  test/puppeteer/proxy.ts
Due: prettier --write, eslint --fix

feat: bootstrapped puppeteer proxy
  test/puppeteer/bootstrap-proxy.ts
  test/puppeteer/source-proxy.ts
Due: prettier --write, eslint --fix

chore: add catch
  test/puppeteer/bootstrap-proxy.ts
  test/puppeteer/source-proxy.ts
Due: prettier --write, eslint --fix

fix: missing return
  src/puppeteer/puppeteerOpt.ts
Due: prettier --write, eslint --fix

chore: split proxy utils
  proxy.txt
  src/googleSearch.ts
  src/utils/proxy.ts
Due: prettier --write, eslint --fix

chore: using regex to parse proxy
  src/utils/proxy.ts
  test/proxy/read.ts
Due: prettier --write, eslint --fix

chore: remove empty line
  src/utils/proxy.ts
Due: prettier --write, eslint --fix

feat: rewrite parsed proxies
  src/utils/proxy.ts
Due: prettier --write, eslint --fix

ignore index proxies
  .gitignore
  proxy.txt
Due: none

feat: create proxy.txt when not exist
  src/utils/proxy.ts
Due: prettier --write, eslint --fix

optional proxy param
  src/utils/proxy.ts
Due: prettier --write, eslint --fix

feat: https with socks proxy test
  test/proxy/https-socks.ts
Due: prettier --write, eslint --fix
