Repository dimaslanjaka/source-posts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/323311aefdced4c396675f68b8bd1289df2e9954
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

drop token property
  .github/workflows/build-site-reusable.yml
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/6df8a3e47939cd3e2e282bfed433e26d73b26749
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

Create spring-content-type-applicationx-www-form-urlencodedcharsetutf-8-is-not-supported.md
  2024/02/spring-content-type-applicationx-www-form-urlencodedcharsetutf-8-is-not-supported.md
Due: none

Update spring-content-type-applicationx-www-form-urlencodedcharsetutf-8-is-not-supported.md
  2024/02/spring-content-type-applicationx-www-form-urlencodedcharsetutf-8-is-not-supported.md
Due: none

Create spring-livereload-javascript.md
  2024/02/spring-livereload-javascript.md
Due: none

Update spring-livereload-javascript.md
  2024/02/spring-livereload-javascript.md
Due: none

Create boostrap-5-color-theme-switcher.md
  2024/02/boostrap-5-color-theme-switcher.md
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/1ba61811289e41f34a2346a59522728858a03d58
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

Update boostrap-5-color-theme-switcher.md
  2024/02/boostrap-5-color-theme-switcher.md
Due: none

Create vscode-run-task-on-save.md
  2024/02/vscode-run-task-on-save.md
Due: none

Update vscode-run-task-on-save.md
  2024/02/vscode-run-task-on-save.md
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/2c490f15598a55dcbe6308fab986f199013cea6c
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/d5ab1d76837ec20c84022c3c57d73cf9b9d6f0dd
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

Create toggle-enable-disable-github-hooks-event.md
  GitHub/toggle-enable-disable-github-hooks-event.md
Due: none

drop secrets.token
  .github/workflows/build-site-reusable.yml
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/06192416c8cbfc339c3674b365da7e15bb0a6c2b
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

update posts
  .github/workflows/build-site-reusable.yml
  2024/02/hexo-list-loaded-posts.md
  GitHub/toggle-enable-disable-github-hooks-event.md
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

unknown update
  src/articleCreator.ts
  src/slugGenerator.ts
Due: prettier --write, eslint --fix

update frontmatter
  .frontmatter/database/pinnedItemsDb.json
Due: prettier --write

update date format frontmatter
  .vscode/settings.json
  frontmatter.json
Due: prettier --write

update frontmatter settings
  frontmatter.json
Due: prettier --write

chore: released from https://github.com/dimaslanjaka/source-posts/commit/e4fb5a21b5aa389a0fd79572fa168c74df0867e3
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/c655ab8e98553a80c29048e4a29c5c017dc7d2b3
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

parse and export `_config.yml`
  config.js
Due: prettier --write, eslint --fix

update dependencies resolutions
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.json)
  eslint --fix: (any of: *.js) or (any of: *.ts)
