Repository dimaslanjaka/source-posts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint --fix"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.json": "prettier --write"
}

fix: update axios and eslint dependencies to latest versions
  package.json
Due: prettier --write

chore: remove unused .npmrc configuration file
  .npmrc
Due: none

feat: enhance documentation on detecting Node.js execution context for CommonJS and ESM
  2024/02/detect-if-called-via-request-or-directly-by-command-line.md
Due: none

fix: update submodule installation method in workflows to use npm and npx
  .github/workflows/clean-caches.yml
  .github/workflows/post-update-api.yml.txt
  .github/workflows/post-update.yml.txt
Due: none

fix: update submodule installation method in workflows
  .github/workflows/clean-caches.yml
  .github/workflows/post-update-api.yml.txt
  .github/workflows/post-update.yml.txt
Due: none

fix: update description and tags in migration guide for TypeScript ESM
  2022/03/vscode-migrate-ts-project-to-esm.md
Due: none

fix: update ESM example to include path handling and correct updated date
  2024/02/detect-if-called-via-request-or-directly-by-command-line.md
Due: none

fix: update title and description for clarity; enhance tags and keywords for better searchability
  2024/02/detect-if-called-via-request-or-directly-by-command-line.md
Due: none

fix: update jest setup instructions for mixed module compatibility; add additional dependencies and configuration examples
  2023/04/setup-jest-code-runner-vscode.md
Due: none

fix: remove wordcount from post metadata in jest setup guide
  2023/04/setup-jest-code-runner-vscode.md
Due: none

feat: add comprehensive ESLint Flat Config guide and update related documentation links
  NodeJS/eslint-all-in-one-flat-config.md
  NodeJS/eslint-prettier-typescript-vscode-esm.md
  NodeJS/eslint-prettier-typescript-vscode-react.md
  NodeJS/eslint-prettier-typescript-vscode.md
  NodeJS/eslint-prettier-typescript.md
Due: none

fix: add binary-collections dependency to devDependencies
  package.json
Due: prettier --write

fix: update sbg-utility dependency to version 2.0.9
  package.json
Due: prettier --write

fix: update last modified date and add keywords to ESLint Flat Config documentation
  NodeJS/eslint-all-in-one-flat-config.md
Due: none

refactor(eslint): migrate to flat config with improved structure and comments
  NodeJS/eslint-all-in-one-flat-config.md
Due: none

feat(eslint): split ESM and CommonJS config, add dedicated CJS section
  NodeJS/eslint-all-in-one-flat-config.md
Due: none

docs(NodeJS/eslint-all-in-one-flat-config): update Prettier section and add VSCode integration guide
  NodeJS/eslint-all-in-one-flat-config.md
Due: none

fix: update last modified date and add thumbnail to ESLint Flat Config documentation
  NodeJS/eslint-all-in-one-flat-config.md
Due: none

feat(mysql): add tutorial for activating MySQL access for multiple devices
  2025/08/setup-mysql-for-multiple-devices.md
Due: none

feat: optimization mysql
  2025/08/setup-mysql-for-multiple-devices.md
Due: none

Create night-crows-acc-deff-requirements.md
  2025/08/night-crows-acc-deff-requirements.md
Due: none

Change author from 'System' to 'L3n4r0x'
  2025/08/night-crows-acc-deff-requirements.md
Due: none

feat: android tampering and reverse engineering
  2026/02/ android-tampering-and-reverse-engineering.md
Due: none

chore: update dependencies to latest versions
  package.json
Due: prettier --write

feat: add tutorial for building tun2socks.aar for Android
  2026/03/how-to-build-tun2socks-for-android.md
Due: none

feat: add guide for installing Font Awesome Pro with examples
  2026/04/install-font-awesome-pro-latest.md
Due: none

chore: update actions/setup-node to version 5 in workflows
  .github/workflows/build-site-reusable.yml
  .github/workflows/clean-caches.yml
Due: none

chore: downgrade actions/setup-node to version 4 in workflows
  .github/workflows/build-site-reusable.yml
  .github/workflows/clean-caches.yml
Due: none

chore: update actions/setup-node to version 6 in workflows
  .github/workflows/build-site-reusable.yml
  .github/workflows/clean-caches.yml
Due: none

fix: update token handling to use GITHUB_TOKEN as fallback in workflows
  .github/workflows/build-site-reusable.txt
  .github/workflows/build-site-reusable.yml
  .github/workflows/clean-caches.yml
  .github/workflows/clean-workflows-logs.yml
  .github/workflows/garbage-collector.yml.txt
  .github/workflows/post-update-api.yml.txt
  .github/workflows/post-update.yml.txt
Due: none

chore: remove yarnPath configuration from .yarnrc.yml
  .yarnrc.yml
Due: none

chore: update dependencies to latest versions in package.json
  package.json
Due: prettier --write

feat: add PowerShell profile setup guide for Windows developers
  2026/05/powershell-profile-setup-for-windows-developers.md
Due: none

chore: migrate to eslint-base-config and expand vscode settings
  .vscode/settings.json
  eslint.config.mjs
  package.json
Due: prettier --write

refactor(quiz): merge analyze script into download and fix empty output
  The Legend Of Neverland/Quiz/_quiz_analyze.standalone.js
  The Legend Of Neverland/Quiz/_quiz_download.standalone.js
  The Legend Of Neverland/Quiz/quiz.txt
Due: prettier --write, eslint --fix

chore(quiz): normalize TLoN quiz entries and update answer references
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

feat(quiz): add autogenerated changelog support and embed history in documentation
  The Legend Of Neverland/Quiz.md
  The Legend Of Neverland/Quiz/changelog.standalone.js
  The Legend Of Neverland/Quiz/changelog.txt
Due: prettier --write, eslint --fix

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/4906707aa40cda287792f52d88d7cd8d1ddebfb9
  The Legend Of Neverland/Quiz/changelog.txt
Due: none

chore(tooling): update lint-staged glob patterns and simplify prettier config
  .lintstagedrc.json
  .prettierignore
Due: prettier --write
