Repository dimaslanjaka/source-posts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint --fix"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.json": "prettier --write"
}

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/a26ede0a61d89017f97c857d4d24f362cc040e54
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/73716f562989f258b1c360eebf0c7820626b9720
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/3c7c3594e79e1ea5783bffc134b0966ca6443ec3
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/3d48e436b362797bd68d9db0e4ec7f9f14efc3e5
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

replace staticallycdn with githack
  The Legend Of Neverland/Quiz.md
  The Legend Of Neverland/Quiz/table.html
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/6b1772668f08b27ecb9cfd656811a3f001127ae6
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

update description
  The Legend Of Neverland/Quiz.md
Due: none

update body
  The Legend Of Neverland/Quiz.md
Due: none

add arg `--esm` for `ts-node`
  .github/workflows/build-site-reusable.yml
Due: none

remove extension `.ts`
  .github/workflows/build-site-reusable.yml
Due: none

auto update settings by vscode
  .vscode/settings.json
Due: prettier --write

eslint fix
  src/browse.ts
  src/extractArticle.js
  src/github-issues.ts
Due: prettier --write, eslint --fix

update yarn to v4
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

remove extension `.ts` from `ts-node`
  .github/workflows/build-site-reusable.yml
Due: none

update `@types/through2` remove `nodejs-package-types`
  package.json
  yarn.lock
Due: prettier --write

add post
  2024/01/how-to-setup-local-domain-vhost-xampp-windows.md
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/0e4aab47ceb13ddc2d5f79d169a96e0c6e64218c
  The Legend Of Neverland/Quiz/quiz.txt
Due: none
