Repository dimaslanjaka/source-posts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint --fix"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.json": "prettier --write"
}

chore: released from https://github.com/dimaslanjaka/source-posts/commit/6ddd77eb5d9ecd75f1ba12466dbcd38208e28f5b
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/4c2adbe8f56c25a6c3727d2fe8993955d30205e2
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

update scripts
  package.json
Due: prettier --write

update
  2017/04/12-css3-responsive-blockquote-styling.md
Due: none

remove post
  scrapped/6e8ed66e8875189e81f056933bc98585.md
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/8199de2dc9f8a7a5c0e4ad73887c1cfaa493a33b
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/826ce9269e82cb0c594904e2b97d02686ae83d18
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/6da930778f804eccc6bf9639f3679129175fb734
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

feat: adsense tax info
  2024/11/how-to-fill-tax-information-on-google-adsense.md
Due: none

chore: released from https://github.com/dimaslanjaka/source-posts/commit/30d7cb05b707de4eb4855614bc97be10149ccaf8
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

feat: auto cache cleaner
  .github/workflows/clean-caches.yml
Due: none

feat: cache cleaner
  .github/workflows/clean-caches.yml
Due: none

update post
  2024/02/hexo-cannot-get.md
Due: none

fix: missing clear github actions cache files
  bin/clear-github-actions-cache
  bin/clear-github-actions-cache.cjs
  bin/clear-github-actions-cache.cmd
Due: none

update hash
  .github/workflows/build-site-reusable.yml
Due: none

update thumbnail
  .gitignore
  2024/03/okhttp-cookie-handling-on-android.md
  2024/03/okhttp-cookie-handling-on-android/1AcJt.png
  2024/03/okhttp-cookie-handling-on-android/EgV2P.png
Due: none

update to latest yarn
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

update dependencies
  .eslintignore
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  .vscode/settings.json
  eslint.config.mjs
  package.json
Due: prettier --write, eslint --fix

optimize downloader script
  The Legend Of Neverland/Quiz/_quiz_download.standalone.js
  The Legend Of Neverland/Quiz/quiz.txt
Due: prettier --write, eslint --fix

only show line has (O) or (X)
  The Legend Of Neverland/Quiz/_quiz_download.standalone.js
  The Legend Of Neverland/Quiz/quiz.txt
Due: prettier --write, eslint --fix

optimize scripts, eslint
  The Legend Of Neverland/Quiz/_quiz_analyze.standalone.js
  The Legend Of Neverland/Quiz/_quiz_download.standalone.js
  The Legend Of Neverland/Quiz/quiz.txt
  package.json
Due: prettier --write, eslint --fix

Priority backend server first
  The Legend Of Neverland/Quiz.md
  The Legend Of Neverland/Quiz/script.js
Due: prettier --write, eslint --fix

ignore master project
  .gitignore
Due: none

feat: contact info
  The Legend Of Neverland/Quiz.md
  The Legend Of Neverland/Quiz/script.js
Due: prettier --write, eslint --fix

update search query selector
  The Legend Of Neverland/Quiz/script.js
  The Legend Of Neverland/Quiz/table.html
Due: prettier --write, eslint --fix

chore: released from https://github.com/dimaslanjaka/source-posts/commit/d6677b0c580bc2f9d1928750ca6c94b6a6aadba2
  The Legend Of Neverland/Quiz/script.min.js
Due: prettier --write, eslint --fix

fix: missing updated meta
  2023/09/react-dom-server-generate-static-html-from-react.md
  2024/02/how-to-use-kotlin-bom.md
  2024/02/is-defining-screen-density-can-reduce-build-speed.md
  2024/02/setup-vmoption-intellij-idea-for-8gb-ram-processor-intel-i3.md
  2024/02/spring-livereload-javascript.md
  2024/03/android-activity-lifecycle.md
  2024/03/android-studio-enable-automatic-memory-heap-resizing.md
  2024/03/turn-git-log-history-to-markdown.md
  2024/04/list-of-chrome-driver-command-line-arguments.md
  2024/05/php-generate-big-text-file-for-testing-purpose.md
  GitHub/toggle-enable-disable-github-hooks-event.md
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/9a100f098eec96022f045f75013968edc8de861e
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

Update android-studio-enable-automatic-memory-heap-resizing.md
  2024/03/android-studio-enable-automatic-memory-heap-resizing.md
Due: none

feat: wireless adb
  2025/01/android-wireless-debugging.md
Due: none

fix: improve husky preparation script to handle missing dependency
  package.json
Due: prettier --write

fix: update husky and lint-staged dependencies to latest versions
  package.json
Due: prettier --write

feat: add Yarn guides for updating packages in a monorepo
  NodeJS/yarn-guides.md
Due: none

fix: update dependencies to latest versions in package.json
  package.json
Due: prettier --write

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/5e5ba4aa08fac4cfb7fd1b7232498d02e08c120c
  The Legend Of Neverland/Quiz/script.min.js
Due: prettier --write, eslint --fix

feat: add vscode settings
  NodeJS/eslint-prettier-typescript.md
Due: none

Create yarn-npm-registry-configuration.md
  NodeJS/yarn-npm-registry-configuration.md
Due: none

Update yarn-npm-registry-configuration.md
  NodeJS/yarn-npm-registry-configuration.md
Due: none
