Repository dimaslanjaka/source-posts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Update android-webview-get-content-height.md
  2023/10/android-webview-get-content-height.md
Due: none

Update geckoview-equivalent-cangoback-android-webview.md
  2023/11/geckoview-equivalent-cangoback-android-webview.md
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/cbdd9bdf13a36fab134b6c8d3dfa852361883cfa
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

Update kill-gradle-daemon-process.md
  2023/10/kill-gradle-daemon-process.md
Due: none

chore: update dependencies
  package.json
Due: prettier --write

chore: update posts https://github.com/dimaslanjaka/source-posts/commit/caa4691d8aded87b7f63db022874641640e48cb1
  yarn.lock
Due: none

add whitespace
  GitHub/actions-matrix-sequentally.md
  GitHub/id-github-actions-run-single-instance.md
Due: none

install `lint-staged`
  package.json
Due: prettier --write

add posts remover
  remove-posts.js
  src/getPosts.js
Due: prettier --write, eslint --fix

remove posts keyword `download (lagu|film|movie)`
  2018/11/download-film-axl-2018-subtitle.md
  2018/11/download-film-meg-2018-subtitle.md
  2018/11/download-film-nun-2018-subtitle.md
  2018/11/download-film-pengabdi-setan-2017-full.md
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/cef36264f45fb699c1d3e4c561f7c7c6e8a8bdf7
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

chore: released from https://github.com/dimaslanjaka/static-blog-generator-hexo/commit/880cd0425897d76c314841ca0231c1ff0ade7e6b
  The Legend Of Neverland/Quiz/quiz.txt
Due: none

update dependencies
  package.json
Due: prettier --write

remove AGC posts
  remove-posts.js
Due: prettier --write, eslint --fix

convert feeds to markdown
  feeds/2771056599229295027/posts/default/1740673135061317436.md
  feeds/2771056599229295027/posts/default/302981480352472363.md
  feeds/2771056599229295027/posts/default/4472620923036649980.md
  feeds/2771056599229295027/posts/default/5073241782864959597.md
  feeds/2771056599229295027/posts/default/6199513345551369836.md
  feeds/2771056599229295027/posts/default/8122382496029547167.md
Due: none

add html body to markdown converter
  html-to-markdown.js
  package.json
Due: prettier --write, eslint --fix

convert to markdown
  2020/01/tether-vpn-android.md
  2020/03/php-array-magic-trick-and-manipulations.md
  2020/03/vscode.md
Due: none

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.json)
  eslint --fix: (any of: *.js) or (any of: *.ts)
